$gray: #eff0f8;
$dark-blue: #4e4f5c;
$purple: #6d71f9;
$blue: #54c1fb;

body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
} 

.container{
    max-width: 400px;
    background-color: #fff;
    border-radius: 14px;
    .form-title-container{
        display: flex;
        justify-content: space-between;
        .form-title{
            padding: 0 30px;
            font-size: 16px;
            font-weight: 600;
            color: $dark-blue;
        }
    }
}

.form{
    margin-top: 20px;
    .field{
        margin-bottom: 7px;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        input{
            height: 40px;
            border: 1px soild #dcdcdc;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            padding-left: 10px;
            color: $dark-blue;
            caret-color: $purple;
            outline: none;
            &:focus{
                border-color: $purple;
            }
        }
        label{
            color: $dark-blue;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 7px;
        }
    }
}

.form-message{
    margin: 20px 30px;
    border-bottom: 1px soild $gray;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px soild #b7e0f6;
    background: lighten($blue, 30%);
    padding: 14px;
    margin-bottom: 25px;
    .message{  
        font-size: 11px;
        color: #00a6ff;
        margin: 0;
    }
}

.form-controls{
    padding: 20px 0;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    .btn{
        outline: none;
        flex-basis: 30%;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }
    .submit{
        background: $purple;
        color: white;
        border: none;
    }
    .cencel{
        color: $dark-blue;
        border: none;
        border: 1px soild #dcdcdc;
    }

}

@media only screen and (max-width: 676px) {
    .container{
        margin: 0px 10px;
    }
}